/* Basic CSS style sheet, a placeholder to use when viewing the raw XHTML */


@font-face { font-family: 'Opera' ; 
             src: url('../Fonts/opera-lyrics-smooth.ttf') format('truetype');
}

body { margin-left: 20%; margin-right: 25%; }

a             { text-decoration:none; }
a.internal    { text-decoration:none; }
a.hootingyard { text-decoration:underline; }
a.external    { text-decoration:underline; }

h1 { margin-top: 2em; font-family: 'Opera'; text-transform: uppercase; text-align: left; }
h1.center { margin-top: 2em; font-family: 'Opera'; text-align: center; }

blockquote { margin-left: 5%; margin-right: 5%; }

/* this looks good in a browser, but not on an ebook reader: */
p { font-size: 120%; margin-top:0; margin-bottom:0; text-indent:2em; line-height:1.3em; text-align:justify; } 

p.center      { text-align:center; }
p.noindent    { text-indent:0;  }
p.linebreaks  { text-indent:0; margin-left: 2em; margin-top: 0.5em; margin-bottom: 0.5em; }
p.breakabove  { text-indent:0; margin-top: 0.5em;  }
p.postwebpage { text-indent:0; margin-top:4mm; font-size: 50%; }
p.textbreak   { text-indent: 0; text-align: center; margin-top: 1em; }

strong.footnote { color:red; }

div.illustration { margin:2em; }
p.images         { text-align:center; }
p.caption        { margin-top:1mm; font-size:90%; text-align:center; font-weight:bold; text-indent:0; }
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;  }

img.aligncenter  {  }
img.alignleft    {  }
img.size-full    { width:80%; }
img.size-medium  { width:60%; }
img.small        { width:15%; }

div.illustration { margin:2em; }
p.imagerow { text-align:center; }
p.caption { margin-top:1mm; font-size:90%; text-align:center; font-weight:bold; text-indent:0; }

div.blockparagraphs p { text-indent:0;  margin-top: 1em; }

div.verse     { margin-left: 5%; margin-right: 5%; margin-bottom: 1em; }
div.verse p   { text-indent: 0; margin-top: 1em; text-align:left; font-style:italic; }


strong.footnote { color:red; }
   
/* end */
